<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All the CSS Noise-->
    <!-- Leaflet/Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Our css-->
    <link rel="stylesheet" type="text/css" href="static/css/styleJason.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <link rel="icon" type="image/png" href="../static/bee.png">
    <!-- free icon from https://icons8.com/icons/set/bee -->
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="bee-brand">
            <a href="/"><img src="../static/logo1.jpg" width="100px" height="auto" alt="bee_logo">
            </a>
        </div>
    </nav>

    <div class="row">
        <div class="col-2 sidebar-expanded d-none d-md-block" id="sidebar-container">
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="bee-menu-header list-group-item">
                    MAIN MENU
                </li>
                <a href="/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <div>Home</div>
                    </div>
                </a>
                <a href="/queenBee" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <div id="graph1">Bee Colony Loss by State</div>
                    </div>
                </a>

                <li class="bee-menu-header list-group-item">
                    Bee Colony Density by County
                </li>
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <div id="graph2" style = "padding-top: 12px; padding-bottom: 12px;">
                            <a href="/choropleth2002" class="list-group-item list-group-item-action" style = "display: inline;">2002</a>
                            <a href="/choropleth2007" class="list-group-item list-group-item-action" style = "display: inline;">2007</a>
                            <a href="/choropleth2012" class="list-group-item list-group-item-action" style = "display: inline;">2012</a>
                        </div>
                    </div>

                <li class="bee-menu-header list-group-item">
                    Extras
                </li>
                <a href="/extra" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="data_link">Stuff</span>
                    </div>
                </a>
            </ul>
        </div><!-- sidebar-container END -->

        <div class="col-10">
            <div id="map"></div>
        </div>

    </div>
    <!--All the Javascript Noise-->
    <!-- Leaflet/d3 JS-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="../static/js/choropleth.js"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="../static/js/nav.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/countyMapJason.js"></script>
    <script>
        renderChoropleth({{year}});
    </script>

</body>

</html>