<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/nav.js"></script>
    <link rel="icon" type="image/png" href="../static/bee.png">
    <!-- free icon from https://icons8.com/icons/set/bee -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <a class="navbar-brand" href="#">
            <img src="../static/bee.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="menu-title">{{title}}</span>
        </a>
    </nav>
    <div class="row">
        <div class="col-2 sidebar-expanded d-none d-md-block" id="sidebar-container">
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center">
                    <small>MAIN MENU</small>
                </li>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="graph1">Graph 1</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="graph2">Graph 2</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="graph3">Graph 3</span>
                    </div>
                </a>

                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center">
                    <small>DATA</small>
                </li>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="data_link">Some more stuff</span>
                    </div>
                </a>
            </ul>
        </div><!-- sidebar-container END -->


    <div class="col-10">

        <div id="ourMap"></div>

    </div>
</body>

</html>