<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- JQuery-->
    <!-- Leaflet/Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/raphael.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/color.jquery.js"></script>
    <script src="../static/js/jquery.usmap.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/queenBee.js"></script>

    <!--Our css-->
    <link rel="stylesheet" type="text/css" href="static/css/styleJason.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <link rel="icon" type="image/png" href="../static/bee.png">
    <!-- free icon from https://icons8.com/icons/set/bee -->
</head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="bee-brand">
            <img src="../static/logo1.jpg"  width="100px" height="auto" alt="bee_logo">
        </div>
    </nav>

    <div class="row">
        <div class = "col-2 sidebar-expanded d-none d-md-block" id="sidebar-container">
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Separator with title -->
            <li class="bee-menu-header list-group-item">
                MAIN MENU
            </li>
            <a href="/queenBee" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <div id="graph1">Bee Colony Loss by State</div>
                </div>
            </a>
            <a href="/" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <div id="graph2">Bee Colony Density by County</div>
                </div>
            </a>
<!-- 
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <div class="graph3">Graph 3</div>
                </div>
            </a> -->

            <li class="bee-menu-header list-group-item">
                DATA
            </li>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="data_link">Some more stuff</span>
                </div>
            </a>
        </ul>
        </div><!-- sidebar-container END -->

            <div class = "col-10">

                <div class="row mt-4 ml-2">
                    <div class = "col-6 text-center">
                        <div class="alert alert-primary" role="alert">
                            Click on the map to learn more about the bee colonies of each state!
                        </div>

                        <div class="mx-auto" id="usaMap" style="width: 700px; height: 400px;"></div>      
                    </div>

                    <div class = "col-6">

                        <div id="ali" style="width: 700px; height: 400px;"></div>
                        <div id="rhyce" style="width: 700px; height: 400px;"></div>
                        

                        <!-- TO DO: See if the plot can position the label somewhere else -->
                        <!-- Also make the labels consistent with Ali's graph -->
                        <div id="cynthia" style="width: 700px; height: 400px;"></div>

                    </div>
                </div>
            </div>



    </div>

   
</body>

</html>